/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/fullstack-groupexercise-quiz.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
