/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/fullstack-groupexercise-quiz.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/sonarlint/issuestore/9/a/9adc81a81f62d623754f1e5b88c87e3aa4cf5ad2
